{% render 'partials/head.liquid' %}
<main>
  <ul class="student">
    {% for person in persons %}



      <div class="student-list">
      <li><a class="student-country-link" href="/student/{{ person.id }}">{{ person.name }}</a></li>
    {% endfor %}
    </div>
  </ul>
</main>  

