* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #2d2733;
}

::-webkit-scrollbar-thumb {
    background: #555;
}

::-webkit-scrollbar-thumb:hover {
    background: #a675f5;
}

header {
    background-color: #a675f5;
    z-index: 1000;
    position: fixed;
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: .5em;
    width: 15em;
    bottom: 2em;
    justify-self: anchor-center;
    border-radius: 10px;
}

.europe-link{
    color: #050542;

    &:hover{
        color: #66e5bf;
    }
}

.world-link{
    color: #050542;

    &:hover{
        color: #66e5bf;
    }
}

.world-map {
    position: absolute;
    top: 0;
    left: 0;
    width: max-content;
    height: max-content;
    min-height: 30em;
    background-color: #050542;
    display: flex;
    justify-content: center;
    align-items: center;
}

.europe-map{
    position: absolute;
    top: 0;
    left: 0;
    width: max-content;
    height: max-content;
    min-height: 30em;
    background-color: #050542;
    display: flex;
    justify-content: center;
    align-items: center;
}

path {
    fill: #66e5bf;
    stroke: #323232;
    transition: 100ms;
    opacity: .7;
}

g {
    transition: 100ms;
}

.hover-country,
.hover-country path {
    opacity: 1;
}

.hover-country:hover,
.hover-country:hover path {
    fill: #a675f5;
}



/* svg{
    width: 100vw;
    height: 100vh;
} */

@media screen and (min-width:800px) {
    svg {
        width: 6000px;
        height: 4500px;
    }
}

@media screen and (min-width:900px) {
    svg {
        width: 9000px;
        height: 7000px;
    }
}

@media screen and (min-width:1000px) {
    svg {
        width: 100vw;
        height: 100vh;
    }
}

.student-country-link{
    background-color: #050542;
    border: 5px solid #66e5bf;
    border-radius: 10px;
    padding: 1em;
    color: antiquewhite;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1em;
    width: 10em; 
    justify-self: center;
    position: relative;
    top: 5em;
    text-decoration: none;

    &:hover{
        background-color:#a675f5;
    }
}
